<div class="row">
	<div class="col-md-3 text-center">
		<%= gravatar_image_tag(@other.email) %>
		<strong><%= @other.name %></strong>
		<%= link_to "View Profile", @other, class: "btn btn-primary" %>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Conversation with <%= @other.name %>
				<input id="conversation_id" type="hidden" value="<%= @conversation.id %>">
			</div>
			<div class="panel-body">
				<div class="container" style="width: 100%;">
					<%= form_for [@conversation, @conversation.messages.build], remote: true do |f| %>
					  <div class="form-group">
					  	<%= f.text_area :context, placeholder: "Add a personal message", class: "form-control" %>
					  </div>
					  <%= f.hidden_field :user_id, value: current_user.id %>

					  <div>
						<%= f.submit "Send message", class: "btn btn-primary" %>
					  </div>
					<% end %>
				</div>
			</div>

			<div id="chat">
				<%= render @messages %>
			</div>
		</div>
	</div>
</div>